html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --pomodoro:url("https://images.pexels.com/photos/2567106/pexels-photo-2567106.jpeg?auto=compress&cs=tinysrgb&h=1800&w=1960");
  --shortBreak: url("https://images.pexels.com/photos/2010945/pexels-photo-2010945.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1000");
  --longBreak: url("https://images.pexels.com/photos/699919/pexels-photo-699919.jpeg?auto=compress&cs=tinysrgb&h=1300&w=2000");
}

body {
  background-image: var(--pomodoro);
  background-size: var(--pomodoro);
  font-family: 'Lora', serif;
  user-select: none;
}

progress {
  border-radius: 2px;
  width: 100%;
  height: 12px;
  position: fixed;
  top: 0;
}

progress::-webkit-progress-bar {
 background-color: rgba(0, 0, 0, 0.1);;
}

progress::-webkit-progress-value {
  background-color: #C2B374;
}

.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

.clock {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 15rem;
  line-height: 1;
  display: flex;
  align-items: center;
  font-family: 'Lora', serif;
  color: #fff;
}

.mode-button {
  font-size: 16px;
  height: 28px;
  cursor: pointer;
  box-shadow: none;
  font-weight: 500;
  color: #fff;
  border: 1px solid transparent;
  margin: 0px;
  border-radius: 4px;
  padding: 2px 12px;
  font-family: 'Lora', serif;
  background: none;
}

.mode-button.active {
  border-color: #fff;
}

.main-button {
  cursor: pointer;
  box-shadow: #C2B374 0px 6px 0px;
  font-size: 22px;
  height: 38px;
  text-transform: uppercase;
  color: #C2B374;
  font-weight: bold;
  width: 100px;
  background-color: white;
  font-family: 'Lora', serif;
  border-width: initial;
  border-style: none;
  margin: 20px 0px 0px;
  padding: 2px 12px;
  border-radius: 4px;
  transition: color 0.5s ease-in-out 0s;
}

button:focus, button:active {
  outline: none;
}

.main-button.active {
  transform: translateY(6px);
  box-shadow: none;
  outline: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 550px) {
  .clock {
    font-size: 8rem;
  }
}
